@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

html,body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    max-width: 1300px;
    font-family: 'Open Sans';
    color: white;
    margin: 0;
}

.wrapper{
    padding: 2rem 0rem 2rem 7rem;
    min-width: 500px;
}

h1{
    font-family: 'Poppins';
}

.flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
}

.register{
    color: hsl(257, 40%, 49%);
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px;
}

.register:hover{
    color: white;
}

.button{
    margin-top: 30px;
}

.register:hover{
    background-color: hsl(300, 69%, 71%);
}

.text{
    margin-top: 60px;
}

.mockup{
    margin-top: 40px;
    width: 100%;
    
    height: auto;
}

.fa-facebook, .fa-twitter, .fa-instagram{
    text-decoration: none;
    color: white;
    margin-right: 5px;
    border: 1px solid white;
    padding: 7px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

.social-icons{
    justify-content: flex-end;
}

.footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    justify-content: center;
    white-space: nowrap;
}

.attribution a { 
    color: hsl(300, 69%, 71%); 
}

@media screen and (max-width: 768px){

    .flex{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .social-icons{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .text{
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }

    .wrapper{
        padding: 2rem 4rem 2rem 4rem;
    }
}
  